*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: "Aladin", system-ui;
    font-weight: 500;
    font-size: xx-large;
    font-style: normal;
}
.container{
    height: 90vh;
    width: 100%;
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    gap: 20px;
}
.game{
    height: 72vh;
    width: 72vh;
    border: 2px solid rgb(207, 207, 207);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.box{
    height: 12vmin;
    width: 12vmin;
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(215, 215, 215);
    color: red;
    transition: 0.5s;
    font-family: "Aladin", system-ui;
    font-size: 7vh;
    font-style: normal;
}
.box:hover{
    background-color: rgb(108, 216, 252);
    color: rgb(242, 140, 6);
}

#reset {
  background: #3e8aaa;         
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;   
}

#reset:hover {
  background: #861a1a;         
  transform: scale(1.08);      
}
.display-win {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  
  color: #64acfe;    
  transition: all 0.4s ease;
}